@media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .print-table {
    width: 100%;
    border-collapse: collapse;
  }

  .print-table th,
  .print-table td {
    text-align: left;
    padding: 8px;
    font-size: 14px;
  }

  .print-table th {
    font-weight: bold;
  }

  /* Pour retirer les bordures */
  .print-table,
  .print-table td,
  .print-table th {
    border: none;
  }

  .hidden-print {
    display: block !important;
  }
}

.print-area {
  display: none;
}
